@import "../../App.scss";

.games {
  width: 100%;
  padding: 20px 15px 100px;

  h1 {
    font-size: 18px;
    color: $greenDark;
    margin-bottom: 40px;
  }

  .filter {
    a {
      color: $green;
      &:hover {
        color: $greenDark;
      }
    }

    select {
      display: none;
    }
  }

  h5 {
    text-align: center;
    margin: 15px 0;
  }

  .listContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
}

@media screen and (min-width: 768px) {
  .games {
    padding: 30px 30px 80px;

    h1 {
      font-size: 26px;
      margin-bottom: 50px;
    }

    .filter {
      width: 100%;
      display: flex;
      justify-content: space-between;

      a {
        font-size: 20px;
      }

      select {
        display: block;
        border: none;
        outline: none;
        color: $green;
        font-size: 20px;
      }
    }

    h5 {
      font-size: 16px;
      margin: 35px 0 15px;
    }

    .listContainer {
        justify-content: center;
    }
  }
}
