.Home-wrapper{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    color: #505050;
    justify-content: center;

    h1{
        color: #107C10;
        font-size: 1.2rem;
        margin: 5px 5px ;
    }
    p{
        color: #107C10;
        text-align: center;
    }
    article{
        width: 80vw;
        border-radius: 5px;
    }
}

.Section-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    article{
        margin: 5px 5px;
    }
    h2{
        color: #505050;
    }
}

.Section-user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EFEFEF;
    padding: 10px;
    p{
        color: #505050;
    }
    .Section-user-price{
        color: #169716;
        font-size: 1.5rem;
    }

    .User-img, .Game-img{
        display: none;
    }
    .User-data{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }
}

.Section-estadistics{
    background-color: #2F2F2F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px 0 30px 0;
    padding: 5px 0 10px 0;

    .numbers{
        text-decoration: underline;
        font-size: 2rem;
    }
    .numbers-games{
        font-size: 2.5rem;
    }
    .names{
        color: white;
        font-size: 1.2rem;
    }
}

.Section-data{
    display: flex;
    margin: 15px 0;

    p{
        margin: 0 10px;
        color: #505050;
    }
    .Section-data-left{
        border-right: #107C10 solid 2px;
    }
    .Section-data-number{
        color: #169716;
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 768px) {
    .Section-user{
        flex-direction: row;
        display: flex;
        .User-img{
            display:flex;
            width: 100%;
            justify-content: center;

        }
        .Game-img{
            display:flex;
            width: 100%;
            justify-content: center;
        }
        .User-img img{
            width: 40%;
            border-radius: 10%;
            border: #169716 solid 3px;
            max-height: 220px;
            max-width: 120px;
        }
        .Game-img img{
            width: 40%;
            border: #169716 solid 3px;
            max-height: 220px;
            max-width: 120px;
        }
        .User-data{
            width: 100%;
            align-items: flex-start;
        }
    }
}

@media screen and (min-width: 1220px) {
    .Section-wrapper{
        flex-direction: row;
        height: 50vh;

    }
    .Section-estadistics{
        flex-direction: row;
        height: 46vh;
        padding: 0;
        margin: 0;
    }

    

}
