$green: #169716;
$greenDark: #107C10;
$grayDArk: #505050;

*{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

main{
  margin: 0;
  padding: 0;
}

.App{
  .mainContainer {
    height: 100vh;
    overflow-y: auto;

    .loading{
      font-size: 50px;
      color: $greenDark;
      text-align: center;
      margin-top: 20%;
    }
  }

}


@media screen and (min-width: 1220px){
  .App {
    display: flex;
  }

  .mainContainer {
    height: 100vh;
    width: 96%;
    overflow-y: auto;
  }
}